/* 
|---------------------------------
| INPUT RESET
|--------------------------------
*/

/* Hide number input arrows (WebKit) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide number input arrows (Firefox) */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}


/* 
|---------------------------------
| AUTOFILL FIX
|--------------------------------
*/
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition:
        background-color 600000s 0s,
        color 600000s 0s !important;

    background-color: transparent !important;
}

input:-internal-autofill-selected,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus,
input:-moz-autofill:active {
    border-radius: 10rem !important;
    background-color: transparent !important;

    -webkit-background-clip: text !important;
    -webkit-text-fill-color: #f9f9f9 !important;

    box-shadow: inset 0 0 20px 20px transparent !important;
    transition: background-color 5000s ease-in-out 0s !important;
}


/* 
|---------------------------------
| FILE INPUT
|--------------------------------
*/
input[type="file"] {
    @apply cursor-pointer;
}

input::file-selector-button {
    @apply hidden;
}


/* 
|---------------------------------
| FIELD BASE
|--------------------------------
*/
.input-field {
    @apply relative;
}


/* 
|---------------------------------
| INPUT
|--------------------------------
*/
.input-field input:not([type="color"]),
.input-field .tagify-input {
    @apply w-full p-3 rounded-lg;
    @apply text-sm font-medium font-inter;
    @apply bg-current/2;
    @apply border border-solid border-light/10;
    @apply shadow-none ring-0 outline-none;
    @apply transition-all duration-150 ease-in-out;

    /* default LIGHT text */
    @apply text-light;
    @apply placeholder:text-light/60;
}


/* Hover */
.input-field:hover input:not([type="color"]) {
    @apply border-light/20;
}


/* Focus / Active */
.input-field input:focus,
.input-field input:active,
.input-field input:focus-visible,
.input-field input:focus-within {
    @apply bg-current/7;
}


/* 
|---------------------------------
| LABEL
|--------------------------------
*/
.input-field label {
    @apply mb-3 flex items-center justify-between;
    @apply text-sm font-medium leading-none font-inter;
    @apply text-light/90;
    @apply transition-all duration-150 ease-in-out;
}

.input-field:hover label {
    @apply border-[#6A6A6A];
}

.input-field input:focus + label {
    @apply text-light;
}


/* 
|---------------------------------
| DESCRIPTION & DETAILS
|--------------------------------
*/
.input-field .description {
    @apply my-2.5 text-sm font-medium font-inter;
    @apply text-light/60;
}

.input-field .details {
    @apply absolute top-[2.125rem] right-4;
    @apply text-sm font-medium font-inter;
    @apply text-light/40;
}


/* 
|---------------------------------
| SUFFIX & ACTIONS
|--------------------------------
*/
.input-field .suffix {
    @apply absolute top-1/2 right-4 -translate-y-1/2;
    @apply text-sm font-medium;
    @apply text-light/60;
}

.input-field > button {
    @apply absolute top-1/2 right-4 -translate-y-1/2;
    @apply p-1;
    @apply text-light/50;
    @apply hover:text-light/80;
}


/* 
|---------------------------------
| SMALL TEXT
|--------------------------------
*/
.input-field small {
    @apply absolute top-10 right-4;
    @apply text-sm leading-none;
    @apply text-light/60;
}