/* 
|-----------------------------
| Vendors
|----------------------------- 
*/

@import "@css/common/vendors/_vendors.css";

/* 
|-----------------------------
| Tailwind
|----------------------------- 
*/

@import "tailwindcss";

/* 
|-----------------------------
| Base
|----------------------------- 
*/

@import "@css/common/base/_base.css";
@import "@css/common/components/_components.css";

/* 
|-----------------------------
| Reference
|----------------------------- 
*/

@layer components {
  .card {
    background-color: var(--color-white);
    border-radius: var(--radius-lg);
    padding: --spacing(6);
    box-shadow: var(--shadow-xl);
  }
}


@reference "@css/reference.css";
