/* 
|-----------------------------
| Vendors
|----------------------------- 
*/

@import "@css/common/vendors/_vendors.css";

/* 
|-----------------------------
| Tailwind
|----------------------------- 
*/

@import "tailwindcss";
@import "@css/common/base/_base.css";
@import "@css/common/components/_components.css";

/* 
|-----------------------------
| Sources
|----------------------------- 
*/

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* 
|-----------------------------
| Variants
|----------------------------- 
*/

@custom-variant dark (&:where(.dark, .dark *));

@custom-variant child {
    & > * {
        @slot;
    }
}

/* 
|-----------------------------
| Theme
|----------------------------- 
*/

@theme {
    --breakpoint-xs: 480px;

    --font-poppins: "Poppins", sans-serif;
    --font-inter:   "Inter", sans-serif;
    --font-ibm:     "IBM Plex Sans Arabic", sans-serif;

    --color-light: #ffffff;
    --color-dark:  #000000;

    --color-main:      #111111;
    --color-surface-1: #111111;
    --color-surface-2: #151515;

    --color-main-light: #841518;
    --color-main-dark:  #111111;

    --color-primary:    #4a0c0d;
    --color-foreground: hsl(220 60% 15%);
}