/* 
|---------------------------------
| RESET
|--------------------------------
*/
* {
    @apply m-0 p-0 box-border scroll-smooth;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: theme("colors.gray.200") transparent;

    -webkit-tap-highlight-color: transparent;
}


/* 
|---------------------------------
| SCROLLBAR (WEBKIT)
|--------------------------------
*/
*::-webkit-scrollbar {
    @apply w-[0.3rem] h-[0.2rem];
}

*::-webkit-scrollbar-track {
    @apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
    @apply bg-brand-500;
    @apply transition-all duration-150 ease-in-out;
}


/* 
|---------------------------------
| RTL SUPPORT
|--------------------------------
*/
*[dir="rtl"] {
    @apply font-ibm text-[0.95rem] font-normal;
}


/* 
|---------------------------------
| BODY
|--------------------------------
*/
body {
    @apply w-screen h-screen;
    @apply m-0;
    @apply relative overflow-x-hidden;
    @apply font-poppins;
    @apply bg-primary;
    @apply box-border scroll-smooth;
}


/* 
|---------------------------------
| MEDIA
|--------------------------------
*/
img {
    @apply pointer-events-none select-none;
}


/* 
|---------------------------------
| UTILITIES
|--------------------------------
*/
[x-cloak] {
    display: none !important;
}


/* 
|---------------------------------
| TYPOGRAPHY RESET
|--------------------------------
*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    @apply m-0;
}

p {
    @apply leading-normal;
}

a:hover {
    text-decoration: none;
}

strong,
b {
    @apply font-semibold;
}

i {
    @apply flex h-fit;
}