/**
 * This file is used to contain all the classes used generally by multiple CSS files.
 * Files inside this folder can contain global styles used in the project.
 */

* {
    @apply m-0 box-border scroll-smooth p-0;
    /* Firefox */
    scrollbar-width: 0.3rem;
    scrollbar-color: theme("colors.gray.200");
    -webkit-tap-highlight-color: transparent;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    @apply h-[0.2rem] w-[0.3rem] scroll-smooth;
}
*::-webkit-scrollbar-track {
    @apply bg-transparent;
}
*::-webkit-scrollbar-thumb {
    @apply bg-brand-500 transition-all duration-150 ease-in-out;
}

*[dir="rtl"] {
    @apply font-ibm text-[0.95rem] font-normal;
}

body {
    @apply font-inter relative m-0 box-border w-screen h-screen overflow-x-hidden scroll-smooth bg-surface-1;
}

img {
    @apply pointer-events-none select-none;
}

[x-cloak] {
    display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    @apply my-0;
}

a:hover {
    text-decoration: none;
}

p {
    @apply leading-normal;
}

i {
    @apply flex h-fit;
}

strong,
b {
    @apply font-semibold;
}

/* -------------------------------------- */

main {
    @apply flex flex-col flex-1;
}

.layout {
    @apply flex h-screen w-screen overflow-hidden;
}

.content {
    @apply relative flex-col overflow-x-auto overflow-y-auto p-6 xl:flex-row;
    flex-grow: 1;
}

.divider {
    @apply text-brand-500/50;
}
